.student-gallery {
    display: flex;
    gap: 15px;
    padding: 50px;
    margin-top: 10px;
    border-top: black solid 2px;
}


.student-gallery__search {
    padding: 16px;
    font-size: 16px;
    margin: 4px;
}
